
<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
      <h1>How Duluth voted in its 2019 city elections</h1>
    <div class="byline">
      <address>By
        <a rel="author" href="http://www.startribune.com/katie-galioto/511230711/">Katie Galioto</a>
        and 
        <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
      </address>
      <span class="spacer"></span>
      Star Tribune
      <span class="spacer-alt"></span>
      <time pubdate datetime="2019-11-06T16:00:00">November 6, 2019</time>
    </div>
    <p></p>
    <!-- share -->
  </section>
  
  <section class="container-lg">
      <p>Duluth held its city elections for its <a href="http://www.startribune.com/duluth-city-election-guide-2019/527892942/">mayor, city council seats and school board</a> yesterday and the results are in.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      
  </section>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">Mayor</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>

  <div class="slide">

    <div id="chart"></div>

    <div class="contest-table">
      <table>
        <thead>
          <tr><th></th>
          <th class="cand">Candidate</th>
          <th class="votes">Votes</th>
          <th class="pct">Vote %</th>
          <th class="bar"></th></tr></thead>

          <tbody>
              <tr class="party-dem3" title="party">
                  <td title="party">
                    <span class="candidate-color-label" title="party"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Emily&nbsp;</span>Larson (i)
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>0</span></td>
                  <td class="pct"><span class="num">0%</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 1%;"></span>
                  </td>
              </tr>

            <tr class="party-dem1" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">David&nbsp;</span>Nolle
                <span class="party-label"></span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 1%;"></span>
              </td>
          </tr>

          <!-- <tr class="party-dem2" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">Robert&nbsp;</span>Taft
                <span class="party-label">(r, oh)</span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 1%;"></span>
              </td>
          </tr>

          <tr class="party-dem winner" title="party">
              <td class="winner" title="party">
                <span class="candidate-color-label" title="party"></span>
                <span class="check">✓</span>
              </td>
              <td class="cand">
                <span class="first">Thomas&nbsp;</span>Dewey
                <span class="party-label">(r, ny)</span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 0%;"></span>
              </td>
          </tr>

                <tr class="party-dem4" title="party">
                    <td title="party">
                      <span class="candidate-color-label" title="party"></span>
                    </td>
                    <td class="cand">
                      <span class="first">Riley&nbsp;</span>Bender
                      <span class="party-label">(r, il)</span>
                    </td>
                    <td class="votes"><span>0</span></td>
                    <td class="pct"><span class="num">0%</span></td>
                    <td class="bar" title="party">
                      <span class="pctBar" style="width: 1%;"></span>
                    </td>
                </tr>
                  
                  <tr class="party-dem5" title="party">
                      <td title="party">
                        <span class="candidate-color-label" title="party"></span>
                      </td>
                      <td class="cand">
                        <span class="first">Leverette&nbsp;</span>Saltonstall
                        <span class="party-label">(r, ma)</span>
                      </td>
                      <td class="votes"><span>0</span></td>
                      <td class="pct"><span class="num">0%</span></td>
                      <td class="bar" title="party">
                        <span class="pctBar" style="width: 1%;"></span>
                      </td>
                  </tr>

                  <tr class="party-dem6" title="party">
                      <td title="party">
                        <span class="candidate-color-label" title="party"></span>
                      </td>
                      <td class="cand">
                        <span class="first">Herbert&nbsp;</span>Hitchcock
                        <span class="party-label">(r, sd)</span>
                      </td>
                      <td class="votes"><span>0</span></td>
                      <td class="pct"><span class="num">0%</span></td>
                      <td class="bar" title="party">
                        <span class="pctBar" style="width: 1%;"></span>
                      </td>
                  </tr> -->
          </tbody>
      </table>
</div>
  </div>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">City Council-at-Large (One)</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>

  <div class="slide">

    <div id="chart"></div>

    <div class="contest-table">
      <table>
        <thead>
          <tr><th></th>
          <th class="cand">Candidate</th>
          <th class="votes">Votes</th>
          <th class="pct">Vote %</th>
          <th class="bar"></th></tr></thead>

          <tbody>
              <tr class="party-dem3" title="party">
                  <td title="party">
                    <span class="candidate-color-label" title="party"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Arik&nbsp;</span>Forsman (i)
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>0</span></td>
                  <td class="pct"><span class="num">0%</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 1%;"></span>
                  </td>
              </tr>

            <!-- <tr class="party-dem1" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">Harold&nbsp;</span>Stassen
                <span class="party-label">(r, mn)</span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 1%;"></span>
              </td>
          </tr>

          <tr class="party-dem2" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">Robert&nbsp;</span>Taft
                <span class="party-label">(r, oh)</span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 1%;"></span>
              </td>
          </tr>

          <tr class="party-dem winner" title="party">
              <td class="winner" title="party">
                <span class="candidate-color-label" title="party"></span>
                <span class="check">✓</span>
              </td>
              <td class="cand">
                <span class="first">Thomas&nbsp;</span>Dewey
                <span class="party-label">(r, ny)</span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 0%;"></span>
              </td>
          </tr>

                <tr class="party-dem4" title="party">
                    <td title="party">
                      <span class="candidate-color-label" title="party"></span>
                    </td>
                    <td class="cand">
                      <span class="first">Riley&nbsp;</span>Bender
                      <span class="party-label">(r, il)</span>
                    </td>
                    <td class="votes"><span>0</span></td>
                    <td class="pct"><span class="num">0%</span></td>
                    <td class="bar" title="party">
                      <span class="pctBar" style="width: 1%;"></span>
                    </td>
                </tr>
                  
                  <tr class="party-dem5" title="party">
                      <td title="party">
                        <span class="candidate-color-label" title="party"></span>
                      </td>
                      <td class="cand">
                        <span class="first">Leverette&nbsp;</span>Saltonstall
                        <span class="party-label">(r, ma)</span>
                      </td>
                      <td class="votes"><span>0/span></td>
                      <td class="pct"><span class="num">0%</span></td>
                      <td class="bar" title="party">
                        <span class="pctBar" style="width: 1%;"></span>
                      </td>
                  </tr>

                  <tr class="party-dem6" title="party">
                      <td title="party">
                        <span class="candidate-color-label" title="party"></span>
                      </td>
                      <td class="cand">
                        <span class="first">Herbert&nbsp;</span>Hitchcock
                        <span class="party-label">(r, sd)</span>
                      </td>
                      <td class="votes"><span>0</span></td>
                      <td class="pct"><span class="num">20%</span></td>
                      <td class="bar" title="party">
                        <span class="pctBar" style="width: 1%;"></span>
                      </td>
                  </tr> -->
          </tbody>
      </table>
</div>
  </div>


  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">City Council-at-Large (Two)</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>

  <div class="slide">

    <div id="chart"></div>

    <div class="contest-table">
      <table>
        <thead>
          <tr><th></th>
          <th class="cand">Candidate</th>
          <th class="votes">Votes</th>
          <th class="pct">Vote %</th>
          <th class="bar"></th></tr></thead>

          <tbody>
              <tr class="party-dem3" title="party">
                  <td title="party">
                    <span class="candidate-color-label" title="party"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Noah&nbsp;</span>Hobbs (i)
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>0</span></td>
                  <td class="pct"><span class="num">0%</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 1%;"></span>
                  </td>
              </tr>

              <tr class="party-dem1" title="party">
                <td title="party">
                  <span class="candidate-color-label" title="party"></span>
                </td>
                <td class="cand">
                  <span class="first">Mike&nbsp;</span>Mayou
                  <span class="party-label"></span>
                </td>
                <td class="votes"><span>0</span></td>
                <td class="pct"><span class="num">0%</span></td>
                <td class="bar" title="party">
                  <span class="pctBar" style="width: 1%;"></span>
                </td>
            </tr>

            <tr class="party-dem2" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">Derek&nbsp;</span>Medved
                <span class="party-label"></span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 1%;"></span>
              </td>
          </tr>

            <!-- 

          <tr class="party-dem winner" title="party">
              <td class="winner" title="party">
                <span class="candidate-color-label" title="party"></span>
                <span class="check">✓</span>
              </td>
              <td class="cand">
                <span class="first">Thomas&nbsp;</span>Dewey
                <span class="party-label">(r, ny)</span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 0%;"></span>
              </td>
          </tr>

                <tr class="party-dem4" title="party">
                    <td title="party">
                      <span class="candidate-color-label" title="party"></span>
                    </td>
                    <td class="cand">
                      <span class="first">Riley&nbsp;</span>Bender
                      <span class="party-label">(r, il)</span>
                    </td>
                    <td class="votes"><span>0</span></td>
                    <td class="pct"><span class="num">0%</span></td>
                    <td class="bar" title="party">
                      <span class="pctBar" style="width: 1%;"></span>
                    </td>
                </tr>
                  
                  <tr class="party-dem5" title="party">
                      <td title="party">
                        <span class="candidate-color-label" title="party"></span>
                      </td>
                      <td class="cand">
                        <span class="first">Leverette&nbsp;</span>Saltonstall
                        <span class="party-label">(r, ma)</span>
                      </td>
                      <td class="votes"><span>0</span></td>
                      <td class="pct"><span class="num">0%</span></td>
                      <td class="bar" title="party">
                        <span class="pctBar" style="width: 1%;"></span>
                      </td>
                  </tr>

                  <tr class="party-dem6" title="party">
                      <td title="party">
                        <span class="candidate-color-label" title="party"></span>
                      </td>
                      <td class="cand">
                        <span class="first">Herbert&nbsp;</span>Hitchcock
                        <span class="party-label">(r, sd)</span>
                      </td>
                      <td class="votes"><span>0</span></td>
                      <td class="pct"><span class="num">0%</span></td>
                      <td class="bar" title="party">
                        <span class="pctBar" style="width: 1%;"></span>
                      </td>
                  </tr> -->
          </tbody>
      </table>
</div>
  </div>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">City Council District 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>

  <div class="slide">

    <div id="chart"></div>

    <div class="contest-table">
      <table>
        <thead>
          <tr><th></th>
          <th class="cand">Candidate</th>
          <th class="votes">Votes</th>
          <th class="pct">Vote %</th>
          <th class="bar"></th></tr></thead>

          <tbody>
              <tr class="party-dem3" title="party">
                  <td title="party">
                    <span class="candidate-color-label" title="party"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Gary&nbsp;</span>Anderson (i)
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>0</span></td>
                  <td class="pct"><span class="num">0%</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 1%;"></span>
                  </td>
              </tr>

            <tr class="party-dem1" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">Becky&nbsp;</span>Hall
                <span class="party-label"></span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 1%;"></span>
              </td>
          </tr>
<!-- 
          <tr class="party-dem2" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">Robert&nbsp;</span>Taft
                <span class="party-label">(r, oh)</span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 1%;"></span>
              </td>
          </tr>

          <tr class="party-dem winner" title="party">
              <td class="winner" title="party">
                <span class="candidate-color-label" title="party"></span>
                <span class="check">✓</span>
              </td>
              <td class="cand">
                <span class="first">Thomas&nbsp;</span>Dewey
                <span class="party-label">(r, ny)</span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 0%;"></span>
              </td>
          </tr>

                <tr class="party-dem4" title="party">
                    <td title="party">
                      <span class="candidate-color-label" title="party"></span>
                    </td>
                    <td class="cand">
                      <span class="first">Riley&nbsp;</span>Bender
                      <span class="party-label">(r, il)</span>
                    </td>
                    <td class="votes"><span>0</span></td>
                    <td class="pct"><span class="num">0%</span></td>
                    <td class="bar" title="party">
                      <span class="pctBar" style="width: 1%;"></span>
                    </td>
                </tr>
                  
                  <tr class="party-dem5" title="party">
                      <td title="party">
                        <span class="candidate-color-label" title="party"></span>
                      </td>
                      <td class="cand">
                        <span class="first">Leverette&nbsp;</span>Saltonstall
                        <span class="party-label">(r, ma)</span>
                      </td>
                      <td class="votes"><span>0</span></td>
                      <td class="pct"><span class="num">0%</span></td>
                      <td class="bar" title="party">
                        <span class="pctBar" style="width: 1%;"></span>
                      </td>
                  </tr>

                  <tr class="party-dem6" title="party">
                      <td title="party">
                        <span class="candidate-color-label" title="party"></span>
                      </td>
                      <td class="cand">
                        <span class="first">Herbert&nbsp;</span>Hitchcock
                        <span class="party-label">(r, sd)</span>
                      </td>
                      <td class="votes"><span>0</span></td>
                      <td class="pct"><span class="num">0%</span></td>
                      <td class="bar" title="party">
                        <span class="pctBar" style="width: 1%;"></span>
                      </td>
                  </tr> -->
          </tbody>
      </table>
</div>
  </div>


  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">City Council District 3</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>

  <div class="slide">

    <div id="chart"></div>

    <div class="contest-table">
      <table>
        <thead>
          <tr><th></th>
          <th class="cand">Candidate</th>
          <th class="votes">Votes</th>
          <th class="pct">Vote %</th>
          <th class="bar"></th></tr></thead>

          <tbody>
              <tr class="party-dem3" title="party">
                  <td title="party">
                    <span class="candidate-color-label" title="party"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Roz&nbsp;</span>Randorf
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>0</span></td>
                  <td class="pct"><span class="num">0%</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 1%;"></span>
                  </td>
              </tr>

            <tr class="party-dem1" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">Theresa&nbsp;</span>O'Halloran-Johnson
                <span class="party-label"></span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 1%;"></span>
              </td>
          </tr>

          <!-- <tr class="party-dem2" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">Robert&nbsp;</span>Taft
                <span class="party-label">(r, oh)</span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 1%;"></span>
              </td>
          </tr>

          <tr class="party-dem winner" title="party">
              <td class="winner" title="party">
                <span class="candidate-color-label" title="party"></span>
                <span class="check">✓</span>
              </td>
              <td class="cand">
                <span class="first">Thomas&nbsp;</span>Dewey
                <span class="party-label">(r, ny)</span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 0%;"></span>
              </td>
          </tr>

                <tr class="party-dem4" title="party">
                    <td title="party">
                      <span class="candidate-color-label" title="party"></span>
                    </td>
                    <td class="cand">
                      <span class="first">Riley&nbsp;</span>Bender
                      <span class="party-label">(r, il)</span>
                    </td>
                    <td class="votes"><span>0</span></td>
                    <td class="pct"><span class="num">0%</span></td>
                    <td class="bar" title="party">
                      <span class="pctBar" style="width: 1%;"></span>
                    </td>
                </tr>
                  
                  <tr class="party-dem5" title="party">
                      <td title="party">
                        <span class="candidate-color-label" title="party"></span>
                      </td>
                      <td class="cand">
                        <span class="first">Leverette&nbsp;</span>Saltonstall
                        <span class="party-label">(r, ma)</span>
                      </td>
                      <td class="votes"><span>0</span></td>
                      <td class="pct"><span class="num">0%</span></td>
                      <td class="bar" title="party">
                        <span class="pctBar" style="width: 1%;"></span>
                      </td>
                  </tr>

                  <tr class="party-dem6" title="party">
                      <td title="party">
                        <span class="candidate-color-label" title="party"></span>
                      </td>
                      <td class="cand">
                        <span class="first">Herbert&nbsp;</span>Hitchcock
                        <span class="party-label">(r, sd)</span>
                      </td>
                      <td class="votes"><span>0</span></td>
                      <td class="pct"><span class="num">0%</span></td>
                      <td class="bar" title="party">
                        <span class="pctBar" style="width: 1%;"></span>
                      </td>
                  </tr> -->
          </tbody>
      </table>
</div>
  </div>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">City Council District 5</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>

  <div class="slide">

    <div id="chart"></div>

    <div class="contest-table">
      <table>
        <thead>
          <tr><th></th>
          <th class="cand">Candidate</th>
          <th class="votes">Votes</th>
          <th class="pct">Vote %</th>
          <th class="bar"></th></tr></thead>

          <tbody>
              <tr class="party-dem3" title="party">
                  <td title="party">
                    <span class="candidate-color-label" title="party"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Jeanne&nbsp;</span>Koneczny
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>0</span></td>
                  <td class="pct"><span class="num">0%</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 1%;"></span>
                  </td>
              </tr>

            <tr class="party-dem1" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">Janet&nbsp;</span>Kennedy
                <span class="party-label"></span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 1%;"></span>
              </td>
          </tr>

              <!-- 

          <tr class="party-dem2" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">Robert&nbsp;</span>Taft
                <span class="party-label">(r, oh)</span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 1%;"></span>
              </td>
          </tr>

          <tr class="party-dem winner" title="party">
              <td class="winner" title="party">
                <span class="candidate-color-label" title="party"></span>
                <span class="check">✓</span>
              </td>
              <td class="cand">
                <span class="first">Thomas&nbsp;</span>Dewey
                <span class="party-label">(r, ny)</span>
              </td>
              <td class="votes"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 0%;"></span>
              </td>
          </tr>

                <tr class="party-dem4" title="party">
                    <td title="party">
                      <span class="candidate-color-label" title="party"></span>
                    </td>
                    <td class="cand">
                      <span class="first">Riley&nbsp;</span>Bender
                      <span class="party-label">(r, il)</span>
                    </td>
                    <td class="votes"><span>0</span></td>
                    <td class="pct"><span class="num">0%</span></td>
                    <td class="bar" title="party">
                      <span class="pctBar" style="width: 1%;"></span>
                    </td>
                </tr>
                  
                  <tr class="party-dem5" title="party">
                      <td title="party">
                        <span class="candidate-color-label" title="party"></span>
                      </td>
                      <td class="cand">
                        <span class="first">Leverette&nbsp;</span>Saltonstall
                        <span class="party-label">(r, ma)</span>
                      </td>
                      <td class="votes"><span>0</span></td>
                      <td class="pct"><span class="num">0%</span></td>
                      <td class="bar" title="party">
                        <span class="pctBar" style="width: 1%;"></span>
                      </td>
                  </tr>

                  <tr class="party-dem6" title="party">
                      <td title="party">
                        <span class="candidate-color-label" title="party"></span>
                      </td>
                      <td class="cand">
                        <span class="first">Herbert&nbsp;</span>Hitchcock
                        <span class="party-label">(r, sd)</span>
                      </td>
                      <td class="votes"><span>0</span></td>
                      <td class="pct"><span class="num">0%</span></td>
                      <td class="bar" title="party">
                        <span class="pctBar" style="width: 1%;"></span>
                      </td>
                  </tr> -->
          </tbody>
      </table>
</div>
  </div>

  <div class="slide">
    <div class="byline">Data source: Minnesota Secretary of State</div>
  </div>

<section class="container-lg">
    <div class="article-author-contact">
    <div class="article-author-hcard">
        <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Katie Galioto </strong>is a general assignment reporter at the Star Tribune. In 2019, after a few years away, she returned to the Minneapolis area, where she was born and raised.</span></p><p></p>
        <p><a class="article-author-hcard__email" target="_blank" href="mailto:katie.galioto@startribune.com?subject=How Duluth voted in the 2019 city elections" data-linkname="katie.galioto@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">katie.galioto@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:623-673-4478" data-linkname="623-673-4478" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">623-673-4478</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/katiegalioto" target="_blank" data-linkname="katiegalioto" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">katiegalioto</a></p>
  </div>

      <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How Duluth voted in the 2019 city elections" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
    </div>
  </div>
</section>
</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>