
<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light topline"><span class="font-popular-medium"><a href="http://www.startribune.com/local/duluth/">Duluth</a></span></h5>
      <h1>How Duluth voted in its 2019 city elections</h1>
    <div class="byline">
      <address>By
        <a rel="author" href="http://www.startribune.com/katie-galioto/511230711/">Katie Galioto</a>
        and 
        <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
      </address>
      <span class="spacer"></span>
      Star Tribune
      <span class="spacer-alt"></span>
      <time pubdate datetime="2019-11-06T16:00:00">November 6, 2019</time>
    </div>
    <p></p>
    <!-- share -->
  </section>
  
  <section class="container-lg">
      <p>Duluth held its city elections for its <a href="http://www.startribune.com/duluth-city-election-guide-2019/527892942/">mayor, city council seats and school board</a> Tuesday and the results are in.</p>

      <p>More than 20,000 people — or 33% of those registered — voted in Duluth this year. Though that’s 10 percentage points below turnout for 2015, when city elections were last held, roughly the same amount of ballots were cast both years.</p>

      <p>It’s a sign that Duluth’s voting rolls have grown — by more than 16,000 registered voters in the last four years.</p>

      <p>Incumbents fared pretty well in Tuesday’s contests, but Duluth will also see a number of fresh faces taking elected office this January. Here’s a breakdown of the results, showing how the city voted this year.</p>
      
  </section>

  <div class="slide">
      <div class="byline">Incumbents are marked with *</div>
    </div>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">Mayor</h2>
      <p>Duluthians boosted Emily Larson to <a href="http://www.startribune.com/duluth-gives-mayor-emily-larson-another-four-years-at-city-s-helm/564537952/">a second term</a> at the city’s helm Tuesday, but her victory was a little narrower than her first run for mayor. In 2015, Larson won each of the city’s 34 precincts and 72% of the total vote. This time around, challenger David Nolle siphoned off four precincts and more popular support than Larson’s first opponent — though not enough to prevent the mayor from soundly securing another four years in office.</p>
  </section>

  <div class="slide">

      <div class="map" id="mapper1">
          <svg width="520" height="500" viewBox="0 0 520 500" preserveAspectRatio="xMidYMid"></svg>
      </div>

    <div class="contest-table">
      <table>
        <thead>
          <tr><th></th>
          <th class="cand">Candidate</th>
          <th class="votes">Votes</th>
          <th class="pct">PCT</th>
          <th class="bar"></th></tr></thead>

          <tbody>
              <tr class="party-dem1 winner" title="party">
                  <td class="winner" title="">
                      <span class="check">✓</span>
                    </td>
                  <td class="cand">
                    <span class="first">Emily&nbsp;</span>Larson *
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>13,340</span></td>
                  <td class="pct"><span class="num">63.7%</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 63.7%;"></span>
                  </td>
              </tr>

            <tr class="party-dem2" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">David&nbsp;</span>Nolle
                <span class="party-label"></span>
              </td>
              <td class="votes"><span>7,509</span></td>
              <td class="pct"><span class="num">35.8%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 35.8%;"></span>
              </td>
          </tr>
          </tbody>
      </table>
</div>
  </div>


  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">City Council At-Large</h2>
      <p>Duluth voters could mark two names on their ballots who they thought should fill the pair of at-large council seats up for election. That made for <a href="http://www.startribune.com/duluth-elects-first-african-american-to-city-council-council-president-ousted/564544832/?refresh=true">a close race</a> between the four men vying for the spots, with each candidate earning close to a quarter of the citywide vote.</p>

      <p>Political newcomer Derek Medved ended up capturing the most voters in Duluth’s western precincts, as well as the highest percentage of the popular vote. Incumbent Arik Forsman drew stronger support in East Duluth and earned the second most popular votes by a margin of 255 votes. Current City Council president Noah Hobbs — who narrowly lost his shot at a second term — and challenger Mike Mayou were right in the fight for voters across Duluth, faring particularly well in a few of the city’s central districts.</p>
  </section>

  
  <div class="slide">

      <div class="map" id="mapper2">
          <svg width="520" height="500" viewBox="0 0 520 500" preserveAspectRatio="xMidYMid"></svg>
      </div>

    <div class="contest-table">
      <table>
        <thead>
          <tr><th></th>
          <th class="cand">Candidate</th>
          <th class="votes">Votes</th>
          <th class="pct">PCT</th>
          <th class="bar"></th></tr></thead>

          <tbody>
              <tr class="party-dem5 winner" title="party">
                  <td class="winner" title="">
                      <span class="check">✓</span>
                    </td>
                <td class="cand">
                  <span class="first">Derek&nbsp;</span>Medved
                  <span class="party-label"></span>
                </td>
                <td class="votes"><span>9,068</span></td>
                <td class="pct"><span class="num">26.1%</span></td>
                <td class="bar" title="party">
                  <span class="pctBar" style="width: 26.1%;"></span>
                </td>
            </tr>
            
              <tr class="party-dem1 winner" title="party">
                  <td class="winner" title="">
                      <span class="check">✓</span>
                    </td>
                  <td class="cand">
                    <span class="first">Arik&nbsp;</span>Forsman *
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>8,972</span></td>
                  <td class="pct"><span class="num">25.8%</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 25.8%;"></span>
                  </td>
              </tr>

              <tr class="party-dem2" title="party">
                  <td title="party">
                    <span class="candidate-color-label" title="party"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Noah&nbsp;</span>Hobbs *
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>8,717</span></td>
                  <td class="pct"><span class="num">25.1%</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 25.1%;"></span>
                  </td>
              </tr>

              <tr class="party-dem3" title="party">
                <td title="party">
                  <span class="candidate-color-label" title="party"></span>
                </td>
                <td class="cand">
                  <span class="first">Mike&nbsp;</span>Mayou
                  <span class="party-label"></span>
                </td>
                <td class="votes"><span>7,869</span></td>
                <td class="pct"><span class="num">22.6%</span></td>
                <td class="bar" title="party">
                  <span class="pctBar" style="width: 22.6%;"></span>
                </td>
            </tr>
          </tbody>
      </table>
</div>
  </div>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">City Council District 1</h2>
      <p>In Duluth’s easternmost district, residents chose Gary Anderson to serve another four years on the City Council. The incumbent’s progressive platform ultimately gave him a decisive win over challenger Becky Hall.</p>
  </section>

  <div class="slide">

    <div class="contest-table">
      <table>
        <thead>
          <tr><th></th>
          <th class="cand">Candidate</th>
          <th class="votes">Votes</th>
          <th class="pct">PCT</th>
          <th class="bar"></th></tr></thead>

          <tbody>
              <tr class="party-dem4 winner" title="party">
                  <td class="winner" title="">
                      <span class="check">✓</span>
                    </td>
                  <td class="cand">
                    <span class="first">Gary&nbsp;</span>Anderson *
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>3,630</span></td>
                  <td class="pct"><span class="num">60.6%</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 60.6%;"></span>
                  </td>
              </tr>

            <tr class="party-dem4" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">Becky&nbsp;</span>Hall
                <span class="party-label"></span>
              </td>
              <td class="votes"><span>2,349</span></td>
              <td class="pct"><span class="num">39.2%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 39.2%;"></span>
              </td>
          </tr>
          </tbody>
      </table>
</div>
  </div>


  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">City Council District 3</h2>
      <p>After Em Westerlund, the council member representing the district covering downtown Duluth and Canal Park, decided not to seek a second term, political newcomers began to throw their hats into the ring. Randorf snagged the most votes in the August primary for the seat and did the same Tuesday, propelling her to her first public office.</p>
  </section>

  <div class="slide">

    <div class="contest-table">
      <table>
        <thead>
          <tr><th></th>
          <th class="cand">Candidate</th>
          <th class="votes">Votes</th>
          <th class="pct">PCT</th>
          <th class="bar"></th></tr></thead>

          <tbody>
              <tr class="party-dem4 winner" title="party">
                  <td class="winner" title="">
                      <span class="check">✓</span>
                    </td>
                  <td class="cand">
                    <span class="first">Roz&nbsp;</span>Randorf
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>1,637</span></td>
                  <td class="pct"><span class="num">54.6%</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 54.6%;"></span>
                  </td>
              </tr>

            <tr class="party-dem4" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">Theresa&nbsp;</span>O'Halloran-Johnson
                <span class="party-label"></span>
              </td>
              <td class="votes"><span>1,356</span></td>
              <td class="pct"><span class="num">45.2%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 45.2%;"></span>
              </td>
          </tr>
          </tbody>
      </table>
</div>
  </div>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">City Council District 5</h2>
      <p>After mounting unsuccessful City Council campaigns in 2015 and 2017, Janet Kennedy edged out challenger Jeanne Koneczny in a contest for the city’s westernmost district Tuesday to become Duluth’s first African-American council member. She will fill the seat currently held by three-term incumbent Jay Fosle, who did not seek reelection.</p>
  </section>

  <div class="slide">

    <div class="contest-table">
      <table>
        <thead>
          <tr><th></th>
          <th class="cand">Candidate</th>
          <th class="votes">Votes</th>
          <th class="pct">PCT</th>
          <th class="bar"></th></tr></thead>

          <tbody>
              <tr class="party-dem4 winner" title="party">
                  <td class="winner" title="">
                      <span class="check">✓</span>
                    </td>
                <td class="cand">
                  <span class="first">Janet&nbsp;</span>Kennedy
                  <span class="party-label"></span>
                </td>
                <td class="votes"><span>2,125</span></td>
                <td class="pct"><span class="num">52.2%</span></td>
                <td class="bar" title="party">
                  <span class="pctBar" style="width: 52.2%;"></span>
                </td>
            </tr>

              <tr class="party-dem4" title="party">
                  <td title="party">
                    <span class="candidate-color-label" title="party"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Jeanne&nbsp;</span>Koneczny
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>1,930</span></td>
                  <td class="pct"><span class="num">47.4%</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 47.4%;"></span>
                  </td>
              </tr>
          </tbody>
      </table>
</div>
  </div>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">School Board At-Large</h2>
      <p>Alanna Oswald, the school board’s current clerk, defeated challenger John Schwetman to earn a second term at a time when the school board faces a number of big decisions, including the hiring of a new superintendent.</p>
  </section>

  <div class="slide">

    <div class="contest-table">
      <table>
        <thead>
          <tr><th></th>
          <th class="cand">Candidate</th>
          <th class="votes">Votes</th>
          <th class="pct">PCT</th>
          <th class="bar"></th></tr></thead>

          <tbody>
              <tr class="party-dem4 winner" title="party">
                <td class="winner" title="">
                  <span class="check">✓</span>
                </td>
                  <td class="cand">
                    <span class="first">Alanna&nbsp;</span>Oswald *
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>10,528</span></td>
                  <td class="pct"><span class="num">54.4%</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 54.4%;"></span>
                  </td>
              </tr>

            <tr class="party-dem4" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">John&nbsp;</span>Schwetman
                <span class="party-label"></span>
              </td>
              <td class="votes"><span>8,667</span></td>
              <td class="pct"><span class="num">44.8%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 44.8%;"></span>
              </td>
          </tr>
          </tbody>
      </table>
</div>
  </div>


  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">School Board District 2</h2>
      <p>Current board member David Kirby handily earned a victory over Harry Welty, who formerly served on the school board. This will be Kirby’s second term.</p>
  </section>

  <div class="slide">

    <div class="contest-table">
      <table>
        <thead>
          <tr><th></th>
          <th class="cand">Candidate</th>
          <th class="votes">Votes</th>
          <th class="pct">PCT</th>
          <th class="bar"></th></tr></thead>

          <tbody>

              <tr class="party-dem4 winner" title="party">
                  <td class="winner" title="">
                      <span class="check">✓</span>
                    </td>
                  <td class="cand">
                    <span class="first">David&nbsp;</span>Kirby *
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>3,100</span></td>
                  <td class="pct"><span class="num">66.1%</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 66.1%;"></span>
                  </td>
              </tr>

              <tr class="party-dem4" title="party">
                  <td title="party">
                    <span class="candidate-color-label" title="party"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Harry&nbsp;</span>Welty
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>1,563</span></td>
                  <td class="pct"><span class="num">33.3%</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 33.3%;"></span>
                  </td>
              </tr>

          </tbody>
      </table>
</div>
  </div>


  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">School Board District 3</h2>
      <p>With the district up for grabs after current member Nora Sandstad decided not to seek reelection, the third district school board race saw two fresh faces vying against each other. Sandholm, a former teacher in Duluth, <a href="http://www.startribune.com/former-duluth-teacher-wins-election-to-school-board/564543992/">squeaked a win</a> over challenger Loren Martell. </p>
  </section>

  <div class="slide">

    <div class="contest-table">
      <table>
        <thead>
          <tr><th></th>
          <th class="cand">Candidate</th>
          <th class="votes">Votes</th>
          <th class="pct">PCT</th>
          <th class="bar"></th></tr></thead>

          <tbody>
              <tr class="party-dem4 winner" title="party">
                  <td class="winner" title="">
                      <span class="check">✓</span>
                    </td>
                <td class="cand">
                  <span class="first">Paul&nbsp;</span>Sandholm
                  <span class="party-label"></span>
                </td>
                <td class="votes"><span>2,590</span></td>
                <td class="pct"><span class="num">53.6%</span></td>
                <td class="bar" title="party">
                  <span class="pctBar" style="width: 53.6%;"></span>
                </td>
            </tr>

              <tr class="party-dem4" title="party">
                  <td title="party">
                    <span class="candidate-color-label" title="party"></span>
                  </td>
                  <td class="cand">
                    <span class="first">Loren&nbsp;</span>Martell
                    <span class="party-label"></span>
                  </td>
                  <td class="votes"><span>2,214</span></td>
                  <td class="pct"><span class="num">45.8%</span></td>
                  <td class="bar" title="party">
                    <span class="pctBar" style="width: 45.8%;"></span>
                  </td>
              </tr>
          </tbody>
      </table>
</div>
  </div>

  <div class="slide">
    <div class="byline">Data source: Minnesota Secretary of State</div>
  </div>

<section class="container-lg">
    <div class="article-author-contact">
    <div class="article-author-hcard">
        <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Katie Galioto </strong>is a general assignment reporter at the Star Tribune. In 2019, after a few years away, she returned to the Minneapolis area, where she was born and raised.</span></p><p></p>
        <p><a class="article-author-hcard__email" target="_blank" href="mailto:katie.galioto@startribune.com?subject=How Duluth voted in the 2019 city elections" data-linkname="katie.galioto@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">katie.galioto@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:623-673-4478" data-linkname="623-673-4478" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">623-673-4478</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/katiegalioto" target="_blank" data-linkname="katiegalioto" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">katiegalioto</a></p>
  </div>

      <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How Duluth voted in the 2019 city elections" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
    </div>
  </div>
</section>
</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>